<div class="modal fade" id="newitem">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #213b52;">
            <div class="modal-header">
                <h3 class="m-3">New Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card p-3 m-3">
                    <form id="newitemform" action="{% url 'create_item2' %}" method="post" class="needs-validation" novalidate autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 mx-0">
                                        <div class="row">
                                            <div class="col-md-6 mt-3">
                                                <label for="item_name" style="color: white;">Name</label>
                                                <input type="text" name="name" class="form-control" id="item_name"
                                                    style="background-color: #2a4964; color: white;" autocomplete="off" required>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label for="type" style="color: white;">Type</label>
                                                <select name="type" class="form-control"  id="type"
                                                    style="background-color: #2a4964; color: white;" required>
                                                    <option selected disabled value="" hidden>Choose...</option>
                                                    <option value="Goods">Goods</option>
                                                    <option value="Services">Services</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12 mx-0">
                                                        <div class="row">
                                                            <div class="col-md-6 mt-3">
                                                                <label for="unit" style="color: white;">Unit </label>
                                                                <div class="d-flex">
                                                                    <select class="custom-select" name="unit" id="validationCustom04" required
                                                                        style="background-color: #2a4964; color: white;">
                                                                        <option selected disabled value="" hidden>Choose...</option>
                                                                        <option id="new_unit"></option>
                                                                        {% for a in unit %}
                                                                            <option style="text-transform:Uppercase;">{{ a.unit_symbol}}-{{ a.name }}</option>
                                                                        {% endfor %}
                                                                        <option>BAG-BAGS</option>
                                                                        <option>BAL-BALE</option>
                                                                        <option>BDL-BUNDLES</option>
                                                                        <option>BKL-BUCKLES</option>
                                                                        <option>BOX-BOX</option>
                                                                        <option>BOU-BILLIONS OF UNITS</option>
                                                                        <option>BTL-BOTTLES</option>
                                                                        <option>BUN-BUNCHES</option>
                                                                        <option>CAN-CANS</option>
                                                                        <option>CBM-CUBIC METER</option>
                                                                        <option>CMS-CENTIMETER</option>
                                                                        <option>CCM-CUBIC CENTIMETER</option>
                                                                        <option>CTN-CARTONS</option>
                                                                        <option>DOZ-DOZEN</option>
                                                                        <option>DRM-DRUM</option>
                                                                        <option>GGR-GREAT GROSS</option>
                                                                        <option>GMS-GRAMS</option>
                                                                        <option>GRS-GROSS</option>
                                                                        <option>GYD-GROSS YARDS</option>
                                                                        <option>KGS-KILOGRAMS</option>
                                                                        <option>KLR-KILOLITER</option>
                                                                        <option>KME-KILOMETRE</option>
                                                                        <option>MTS Metric ton</option>
                                                                        <option>MLT-MILLILITRE</option>
                                                                        <option>MTR-METERS</option>
                                                                        <option>NOS-NUMBER</option>
                                                                        <option>PAC-PACKS</option>
                                                                        <option>PCS-PIECES</option>
                                                                        <option>PRS-PAIRS</option>
                                                                        <option>QTL-QUINTAL</option>
                                                                        <option>ROL-ROLLS</option>
                                                                        <option>SQF-SQUARE FEET</option>
                                                                        <option>SET-SETS</option>
                                                                        <option>SQM-SQUARE METERS</option>
                                                                        <option>SQY-SQUARE YARDS</option>
                                                                        <option>TBS-TABLETS</option>
                                                                        <option>TGM-TEN GROSS</option>
                                                                        <option>THD-THOUSANDS</option>
                                                                        <option>TON-TONNES</option>
                                                                        <option>TUB-TUBES</option>
                                                                        <option>UGS-US GALLONS</option>
                                                                        <option>UNT-UNITS</option>
                                                                        <option>YDS-YARDS</option>
                                                                    </select>
                                                                    <!-- <button type="button" class="btn btn-outline-secondary ml-1" 
                                                                    data-target="#newunit" data-toggle="modal">+</button> -->
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mt-3">
                                                                <label for="hsn" style="color: white;">HSN Code</label>
                                                                <input type="text" name="hsn" class="form-control" id="hsn"
                                                                 style="background-color: #2a4964; color: white;"
                                                                 placeholder="Enter a valid HSN code" required>
                                                            </div>
                                                        </div>
                                                    <div class="row">
                                                        <div class="col-md-3 mt-3">
                                                            <label for="validationCustom05" name style="color: white;">Tax Reference</label>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="taxref" type="checkbox" id="inclusive" value="taxable" >
                                                                <label style="color: white;">Taxable</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mt-3">
                                                            <div class="form-check" >
                                                                <input class="form-check-input" name="taxref" type="checkbox" value="non taxable" id="check">
                                                                <label style="color: white;">Non Taxable</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="row" id="taxdiv" style="display: none;">
                                                            <div class="d-flex">
                                                                <div class="col-md-6 mt-3">
                                                                    <label for="validationCustom01"
                                                                        style="color: white;">Intra State Tax Rate</label>
                                                                    <select name="intra_st" class="form-control" 
                                                                        style="background-color: #2a4964; color: white;"
                                                                        id="intra_st" >
                                                                        <option value=" " hidden>Choose...</option>
                                                                        <option value=0>GST 0 (0%)</option>
                                                                        <option value=5>GST 5 (5%)</option>
                                                                        <option value=12>GST 12 (12%)</option>
                                                                        <option value=18>GST 18 (18%)</option>
                                                                        <option value=28>GST 28 (28%)</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6 mt-3">
                                                                    <label for="inter_st"
                                                                        style="color: white;">Inter State Tax Rate</label>
                                                                    <select name="inter_st" class="form-control" 
                                                                            style="background-color: #2a4964; color: white;"
                                                                            id="inter_st" >
                                                                            <option value=" " hidden>Choose...</option>
                                                                            <option value=0>IGST 0 (0%)</option>
                                                                        <option value=5>IGST 5 (5%)</option>
                                                                        <option value=12>IGST 12 (12%)</option>
                                                                        <option value=18>IGST 18 (18%)</option>
                                                                        <option value=28>IGST 28 (28%)</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mt-3">
                                                    <label for="validationCustom01" style="color: white;">Purchase Price</label>
                                                    <div class="row">
                                                        <div>
                                                            <input type="text" class="form-control" value="INR"
                                                            style="margin-left:20px;width:60px;background-color: #2a4960; color: white;">
                                                        </div>
                                                        <div>
                                                            <input type="number" name="pcost" class="form-control" 
                                                                id="purprice" style="width:540px;background-color: #2a4964; color: white; width:200%" value="0" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-3">
                                                    <label for="validationCustom01"
                                                            style="color: white;">Sales Price</label>
                                                    <div class="row">
                                                        <div>
                                                            <input type="text" class="form-control" value="INR"
                                                            style="margin-left:20px;width:60px;background-color: #2a4960; color: white;">
                                                        </div>
                                                        <div >
                                                            <div >
                                                                <input type="text" name="salesprice" class="form-control"
                                                                    id="saleprice" style="width:540px;background-color: #2a4964; color: white; width:200%" value="0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mx-0">
                                                    <div class="row">
                                                        <div class="col-md-6 mt-3">
                                                            <label for="validationCustom01" style="color: white;">Account</label>
                                                            <select name="pur_account" class="form-control" 
                                                                style="background-color: #2a4964; color: white;" id="pur_account" >
                                                                <option >Cost of Goods Sold</option>
                                                                {% for a in acc1 %}
                                                                <option value="goods">{{ a.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 mt-3">
                                                            <label for="validationCustom01" style="color: white;">Account</label>
                                                            <select name="sale_account" class="form-control" 
                                                            style="background-color: #2a4964; color: white;" id="sale_account" >
                                                                <option >Sales</option>
                                                                {% for a in acc2 %}
                                                                    <option value="goods">{{ a.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mx-0">
                                                            <div class="row">
                                                                <div class="col-md-6 mt-3">
                                                                    <label for="validationCustom01" style="color: white;">Description</label>
                                                                    <textarea class="form-control" name="pur_desc"id="pur_desc" 
                                                                    style="background-color: #2a4964; color: white;"></textarea>  
                                                                </div>
                                                                <div class="col-md-6 mt-3">
                                                                    <label for="validationCustom01" style="color: white;">Description</label>
                                                                    <textarea class="form-control" name="sale_desc" id="sale_desc"
                                                                    style="background-color: #2a4964; color: white;"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 mx-0">
                                                                    <br>
                                                                    <div class="row" >
                                                                        <div class="col-md-3">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" onclick="ShowHideDiv(this)" type="checkbox"  id="track">
                                                                                <label class="form-check-label" for="track" >
                                                                                    Track Inventory
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                
                                                                    </div>
                                                                    <div class="row" id="inventorytrack" style="display: none">
                                                                        <div class="col-md-6 mt-3">
                                                                            <label for="validationCustom01" style="color: white;">Inventory Account</label>
                                                                            <select name="invacc" class="form-control" id="invacc"
                                                                                style="background-color: #2a4964; color: white;">
                                                                                <option selected disabled value="" hidden>Choose...</option>
                                                                                <option value="Inventory Assets">Inventory Assets</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-3 mt-3">
                                                                            <label for="validationCustom01" style="color: white;">Stock on hand</label>
                                                                            <input type="number" name="stock" class="form-control" id="stock" 
                                                                            style="background-color: #2a4964; color: white;" value="0">
                                                                        </div>
                                                                        <div class="col-md-3 mt-3">
                                                                            <label for="validationCustom01" style="color: white;">Stock Rate per Unit</label>
                                                                            <input type="number" name="stock_rate" class="form-control" id="stock_rate" 
                                                                            style="background-color: #2a4964; color: white;" value="0">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="row">
                                                                        <div class="col-md-6 mt-3">
                                                                           
                                                                        </div>
                                                                       
                                                                    </div>

                                                                    <div class="row" >
                                                                        <div class="col-md-3 mt-3">
                                                                            <label for="validationCustom01"
                                                                                   style="color: white;">Minimum Stock to maintain</label>
                                                                            <input type="text" name="min_stock" class="form-control" 
                                                                                      style="background-color: #2a4964; color: white;"
                                                                                     autocomplete="off" required>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-6 mt-3">
                                                                           
                                                                        </div>
                                                                       
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-3 mt-3">
                                                                            <label for="validationCustom05" name style="color: white;">Active/Inactive
                                                                                </label>
                                                                        
                                                                        </div>
                                                                        <div class="col-md-3 mt-3">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" value="Active" type="radio" name="status" id="flexRadioDefault1" checked>
                                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                                    Active
                                                                                </label>
                                                                                </div>
                                                                            
                                                                        </div>
                                                                        <div class="form-check mt-3">
                                                                            <input class="form-check-input" value="Inactive" type="radio" name="status" id="flexRadioDefault2" >
                                                                            <label class="form-check-label" for="flexRadioDefault2">
                                                                                Inactive
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-5 mb-5">
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-4">
                                                                    <button class="btn btn-outline-info rounded-pill w-100 text-light" data-dismiss="modal" type="submit" id="itemSave">SUBMIT</button>
                                                                </div>
                                                                <div class="col-md-4"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div> 